${DOMAIN1}:80 {
    root * /usr/src/trojan
    log {
        output file /usr/src/caddy.log
    }
    file_server
}
${DOMAIN1}:443 {
    root * /usr/src/trojan
    log {
        output file /usr/src/caddy.log
    }
    file_server
}
